.card-wrapper {
  display: flex;
  width: 150px;
  height: 150px;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  gap: 15px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;

  .card-img {
    width: 100px;
    height: 80px;
  }

  p {
    color: black;
    margin: 3px;
    font-size: 12px;
  }
}
