.card-img {
  width: 100px;
  margin-top: 20px;
}

.card-wrapper {
  display: flex;
  padding: 0px 35px;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
}

.card-wrapper p {
  color: black;
  margin: 3px;
}
