@use './component/button.scss';

@include button.button;

.message-container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  .message {
    margin: 0;
    font-weight: bold;
  }
}

input,
select {
  -webkit-appearance: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
}

.info-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.userinfo1 {
  text-align: center;
  height: 100vh;
  background-color: #fcecea;
}

.card-boxes {
  display: flex;
}

.margin-area {
  padding-top: 55px;
}

.userinfo1-wrapper {
  margin: 10px 30px;
}

.userinfo-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #fcecea;
}

.userinfo-text {
  margin: 0;
  margin-top: 20px;
  font-weight: bold;
}

.userinfo-span {
  font-size: 12px;
}

.userinfo-header label {
  color: black;
}

.userinfo-header select {
  width: 320px;
}

.userinfo-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  font-weight: bold;
  display: flex;
  padding-bottom: 20%;
  margin: 70% 0;
  color: black;
  margin-bottom: 50%;
}

// アンドロイド対応
@media (max-height: 760px) {
  .container {
    margin: 50% 0;
  }
}
