.todoList {
  border: 1px solid #ccc;
  padding: 10px;
  width: 150px;
  position: relative;
}

.todoListNum {
  display: flex;
  gap: 5px;
  align-items: center;
}

.caution {
  color: #ee817b;
}

.todo {
  background-color: #ee817b;
  color: white;
  border: 1px solid #ee817b;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
  left: auto !important;
  top: auto !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
  gap: 5px;
  button {
    border-radius: 50%;
    border: 1px solid #ee817b;
    padding: 3px 5px;
    font-size: 10px;
    background-color: white;
  }
}

.deleteButton {
  background-color: transparent;
  border: none;
  color: #ee817b;
  cursor: pointer;
}

.itemList {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  width: 150px;
}

.item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
  left: auto !important;
  top: auto !important;
}

.dragdrop-wrapper {
  display: flex;
  font-size: 12px;
  gap: 5px;
  background-color: white;
  min-width: 400px;
  justify-content: center;
}
