@use './component/button.scss';

@include button.button;

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcecea;
}

// アンドロイド対応
@media (max-height: 760px) {
  .userinfo-header a {
    bottom: 5%;
  }
}
