.menu-container {
  position: absolute;
  background-color: #fcecea;
  top: 0;
  right: 0;
  width: 75%;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  box-shadow: -1px 0 10px rgba(0, 0, 0, 0.2);
}

.user-name {
  background-color: #928484;
  height: 150px;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-bottom: 10px;
  align-items: flex-end;
  gap: 15px;

  img {
    width: 50px;
    height: 50px;
  }

  p {
    margin: 0;
    text-align: left;
  }

  .user-name-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    p {
      font-size: 10px;
    }

    .user-name-box {
      display: flex;
      padding: 0;
      margin: 0;
      align-items: center;
      p {
        font-size: 16px;
      }
      img {
        height: 15px;
        width: 15px;
      }
    }
  }
}

.menu-title {
  background-color: #ee817b;
  text-align: left;
  padding: 5px;
  padding-left: 20px;
}

.menu-container.open {
  transform: translateX(0);
}

.menu-button {
  position: fixed;
  top: 20px;
  right: 20px;
}

.list-style {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    border-bottom: 1px solid #f6afaa;
    padding: 10px;
    color: #ee817b;
    a {
      color: #ee817b;
    }
  }
}
