.wrapper {
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #ee817b;
  z-index: 999;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px 20px 0;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.header-wrapper a {
  color: white;
  text-decoration: none;
}

.icon-margin {
  margin-right: 8px;
}
