@use './component/button.scss';

@include button.button;

.message-container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  .message {
    margin: 0;
    font-weight: bold;
  }
}

input,
select {
  -webkit-appearance: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
}

.userinfo1 {
  text-align: center;
  height: 100vh;
  background-color: #fcecea;
}

.card-boxes {
  display: flex;
}

.margin-area {
  padding-top: 55px;
  p {
    margin: 0;
    margin-top: 10px;
    margin-left: 15px;
    padding: 0;
    text-align: left;
    font-weight: bold;
  }
  .hello-message {
    margin-top: 0;
  }
}

.userinfo1-wrapper {
  margin: 10px 30px;
}

.userinfo-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #fcecea;
  a {
    padding: 15px;
    font-size: 24px;
    border-radius: 36px;
  }
}

.userinfo-text {
  margin: 0;
  margin-top: 20px;
  font-weight: bold;
}

.userinfo-span {
  font-size: 12px;
}

.userinfo-header label {
  color: black;
}

.userinfo-header select {
  width: 320px;
}

.userinfo-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.news-wrapper {
  background-color: rgba(#928484, 0.8);
  padding: 10px 0;
  display: flex;
  p {
    font-size: 12px;
    color: white;
    font-weight: bold;
    margin: 0;
    text-align: left;
  }
}

.active-info {
  margin: 0 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  div {
    background-color: white;
    padding: 10px 60px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      text-align: center;
      font-size: 12px;
      margin: 0;
      padding: 0;
    }
    span {
      font-weight: bold;
      font-size: 28px;
    }
  }
}

.active-setting1 {
  margin: 0 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  div {
    background-color: white;
    padding: 10px 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      text-align: center;
      font-size: 12px;
      margin: 0;
      padding: 0;
    }
    span {
      font-weight: bold;
      font-size: 16px;
    }
    a {
      margin: 0;
      font-size: 12px;
      width: 75px;
      padding: 5px 15px;
      display: block;
    }
  }
}

.active-setting2 {
  background-color: white;
  margin: 0 15px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin: 0;
    font-size: 12px;
  }
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    .setbutton {
      display: flex;
      flex-direction: column;
      gap: 0;
      padding: 10px 15px;
      background-color: rgba(#bcbcbc, 0.3);
      color: black;
      height: 47px;
      justify-content: center;
      text-decoration: none;
      align-items: center;
      border-radius: 10px;
      p {
        font-size: 16px;
        margin: 0;
      }
      span {
        font-size: 12px;
        font-weight: bold;
      }
    }
    .clicked {
      background-color: #928484;
      color: white;
    }
  }
}
.news-wrapper {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
}

.news-wrapper a {
  display: inline-block;
  padding: 0 10px;
  max-width: 200px;
}

.news-wrapper a img {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.news-wrapper a p {
  vertical-align: middle;
  margin-left: 10px;
  overflow-wrap: break-word; /* 10文字ごとに折り返す */
}

@keyframes scroll {
  0% {
    transform: translateX(0); /* 初期位置 */
  }
  100% {
    transform: translateX(-100%); /* 無限にスクロール */
  }
}

.news-wrapper a {
  animation: scroll 10s linear infinite;
  display: flex;
  padding: 0 10px;
  max-width: 200px;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

// アンドロイド対応
@media (max-height: 760px) {
  .margin-area p {
    margin-top: 0;
  }
  .userinfo-header a {
    padding: 13px;
    font-size: 22px;
  }
  .news-wrapper a img {
    width: 140px;
  }
  .active-info {
    margin-bottom: 5px;
    div {
      padding: 5px 50px;
    }
  }
  .active-setting1 {
    margin-bottom: 5px;
    div {
      padding: 5px 20px;
      a {
        padding: 5px 5px;
      }
    }
  }
  .active-setting2 {
    padding: 5px;
    margin-bottom: 6px;
  }
}
