.message-container {
  display: none; /* 既定では非表示 */
}

@media (orientation: portrait) {
  .message-container {
    display: block; /* 縦向きの場合にのみ表示 */
  }
}

.message-container {
  .message {
    color: black;
    font-weight: bold;
  }
}

.time-display {
  position: absolute;
  top: 15%;
  left: 1%;
  font-size: 36px;
  color: white;
  background-color: #ee817b;
  padding: 0 10px;
  border-radius: 10px;
}

.horizontal-video {
  display: flex !important;
}

.video-container {
  .controls-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.horizontal-video.stopped .video-container {
  position: relative;
  .time-display {
    top: 3%;
    left: 2%;
  }
}

.horizontal-video.stopped .video-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒 */
}

// アンドロイド対応
@media (max-height: 760px) {
  // .icons {
  //   padding-top: 10px;
  //   padding-bottom: 10px;
  // }
}
