@use './component/button.scss';

@include button.button;

.Login {
  text-align: center;
  height: 100vh;
  background-color: #fcecea;
}

.input-box {
  width: 280px;
  height: 35px;
  border: none;
  margin-bottom: 10px;
  padding: 0 20px;
}

#password {
  margin-bottom: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 40px;
  background-color: #fcecea;
}

.margin-area {
  padding-top: 120px;
}

.-primary {
  background-color: #ee817b;
}

.-secondary {
  background-color: #f6afaa;
}

.-google {
  background-color: #fff;
  color: #000;
}

.-line {
  background-color: #0f0;
}

.-x {
  background-color: #000;
}
