.popup-container {
  position: relative;
  text-align: left;
}

.exercise-name {
}

.description {
  display: block;
  text-align: left;
}

.popup {
  background-color: red;
  .popup-close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
  }
  .popup-content {
    position: fixed;
    top: 40%;
    width: 80%;
    display: flex;
    color: black;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 40px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 40%;

    flex-direction: column;
    p {
      margin: 0;
      font-weight: bold;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        color: black;
        padding: 15px 0;
        background-color: rgba(188, 188, 188, 0.3);
      }
      .checked {
        color: white;
        background-color: #928484;
      }
    }
    .hiit-menu {
      height: 400px;
      width: 300px;
    }
    .low-strength-menu {
      height: 300px;
      width: 300px;
    }
  }
}
