/* table.module.scss */

.tableContainer {
  margin: 10px 20px;
  background-color: white;
  color: black;
  max-height: 400px;
  overflow-y: auto;
}

.scrollableTable {
  width: 100%;
  border-collapse: collapse;

  border-spacing: 0;
  width: 100%;

  thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #928484;
    color: white;
  }

  tr {
    border-bottom: solid 1px #eee;
    cursor: pointer;
  }

  th,
  td {
    text-align: center;
    width: 30%;
    padding: 15px 0;
    border-bottom: solid 1px #928484;
  }

  th:first-child,
  td:first-child {
    text-align: center;
    width: 10%;
    padding: 15px 0;
    border-bottom: solid 1px #928484;
  }
}

.selectedRow {
  background-color: #ee817b;
  color: white;
}

// アンドロイド対応
@media (max-height: 760px) {
  .tableContainer {
    height: 350px;
  }
}
