/* table.module.scss */

.tableContainer {
  margin: 10px 20px;
  background-color: white;
  color: black;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden; /* テーブルの横スクロールを禁止 */
}

.scrollableTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #928484;
    color: white;
  }

  tr {
    border-bottom: solid 1px #928484;
    cursor: pointer;
    font-size: 12px;
  }

  .second-th {
    width: 60%;
    border-right: solid 1px #928484;
  }

  th,
  td {
    text-align: center;
    padding: 15px 5px;
    border-right: solid 1px #928484;
  }
  td:first-child {
    width: 15%;
  }

  .rounded {
    border: solid 1px #928484;
    border-radius: 10px;
    padding: 0 6px;
    width: fit-content;
    white-space: nowrap;
    word-wrap: break-word; /* 追加 */
  }

  .flex-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2px;
    padding: 5px 15px;
  }
}

.selectedRow {
  background-color: #ee817b;
  font-weight: bold;
  color: white;
  td {
    .rounded {
      border: 1px solid white;
    }
  }
  .recommend-text {
    color: white;
    font-weight: bold;
  }
}

.recommend-text {
  color: #ee817b;
  font-weight: bold;
}

// アンドロイド対応
@media (max-height: 760px) {
  .tableContainer {
    height: 400px;
  }
}
