.Top {
  text-align: center;
}

.Top-logo {
  height: 40vmin;
  pointer-events: none;
}

.Top-header {
  background-image: linear-gradient(
    180deg,
    rgba(247, 12, 12, 0) 80%,
    rgba(238, 129, 129, 1) 99%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Top-link {
  color: #61dafb;
}

.logo-position {
  width: 100%;
  margin-top: 70px;
}

.button {
  width: 280px;
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: none;
}

.-primary {
  background-color: #ee817b;
}

.-secondary {
  background-color: #f6afaa;
}

.-google {
  background-color: #fff;
  color: #000;
}

.-line {
  background-color: #00bc00;
}

.-x {
  background-color: #000;
}

.input-box {
  width: 280px;
  height: 35px;
  border: none;
  margin-bottom: 10px;
  padding: 0 20px;
}

@keyframes Top-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
