@mixin button {
  .button {
    width: 280px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;

    &.-disabled {
      opacity: 0.5;
      cursor: not-allowed;
      width: 310px;
    }

    &.-primary {
      background-color: #ee817b;
    }

    &.-secondary {
      background-color: #f6afaa;
    }

    &.-google {
      background-color: #fff;
      color: #000;
    }

    &.-line {
      background-color: #00bc00;
    }

    &.-x {
      background-color: #000;
    }
  }
}
