@mixin button {
  .button {
    width: 280px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;

    &.-disabled {
      opacity: 0.5;
      cursor: not-allowed;
      width: 310px;
    }

    &.-primary {
      background-color: #ee817b;
    }

    &.-disabled {
      background-color: #f6afaa;
    }

    &.-secondary {
      background-color: #928484;
    }

    &.-google {
      background-color: #fff;
      color: #000;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        padding-right: 15%;
        height: 24px;
      }
    }

    &.-line {
      background-color: #00bc00;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        padding-right: 20%;
        height: 24px;
      }
    }

    &.-x {
      background-color: #000;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        padding-right: 25%;
        height: 24px;
      }
    }
  }
}
